<html>
	<head>
		<title>VTL</title>
	</head>
	<boby>
		This is Velocity (vtl) Page!<br/>
		Hello ${username}, Welcome to xxx system!<br/>
		Your email is: ${email}<br/>
		<a href="login.html">&lt;&lt; Back</a><br/>
	</body>
</html>